body{
    background-image: url(assets/bg.jpg);
    background-size: cover;
}
img{
    padding-left: 170px;
    height: 35px;
    padding-top: 40px;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
    line-height: 2rem;
}
.div-1{
    padding-top: 70px;
    line-height: 1rem;
}
.div-2{
    padding-left: 500px;

}
svg{
    margin-left: 15px;
}
#input-5{
    background-color: transparent;
    width: 900px;
    height: 30px;
    padding-left: 30px;
    
    margin-left: 500px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-color: #d20094;
    padding-top: 50px;
}
button{
    width: 200px;
    height: 50px;
    background-color: #00FFFF;
    box-shadow: 0 0 20px #00FFFF;
    animation: glowing 1s infinite;
    margin-left: 850px;
    margin-top: 100px;
    border: none;
    cursor: pointer;
    

}
/* .rating {
    position: relative;
    width: 180px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3em;
    padding: 5px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 2px #b3acac;
 }
 
 .rating__result {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-10px) translateX(-5px);
    z-index: -9;
    font: 3em Arial, Helvetica, sans-serif;
    color: #ebebeb8e;
    pointer-events: none;
 }
 
 .rating__star {
    font-size: 1.3em;
    cursor: pointer;
    color: #dabd18b2;
    transition: filter linear .3s;
 }
 
 .rating__star:hover {
    filter: drop-shadow(1px 1px 4px gold);
 } */