.logo{
    padding-left: 100px;
    height: 35px;
    padding-top: 40px;

}
body{
    background-image: url(assets/bg.jpg);
    
        position:relative;
        height: 100%;
        
        background-size:cover;
       
        
  }
 