.logo{
    padding-left: 170px;
    height: 35px;
    padding-top: 40px;

}
body{
    background-image: url(assets/bg.jpg);
    
        position:relative;
        height: 100%;
        
        background-size:cover;
       
  }
  h1{
    padding-left: 170px;
  }
  /* p{
    padding-left: 170px; */
  
  h2{
    padding-left: 170px;
  }
  ul{
    padding-left: 170px;
  }
#button{
  /* background-color: #00FFFF; 
border: none;
color: rgb(255, 255, 255);
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin-left: 150px;
box-shadow: #00FFFF ; */ 
font-size: 38px;
      padding: 12px 70px;
      border: none;
      
      background-color:#00FFFF ;
      color: black;
     
      
      cursor: pointer;
      box-shadow: 0 0 20px #00FFFF;
      animation: glowing 1s infinite;
      margin-left: 600px;
      
}
#myCheck{ 
  /* height: 50px;
  width: 50px;
  margin-left: 150px;
  background: transparent; */
      width: 25px;
      height: 25px;
      margin-left: 160px;
}


      /* #myCheck + label {
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 2px solid white;
        position: relative;
        cursor: pointer; */

span{
  margin-left: 2px;
}
.h1-1{
padding-bottom: 100px ;
}
