.logo{
    padding-left: 170px;
    height: 35px;
    padding-top: 40px;

}
body{
    background-image: url(assets/bg.jpg);
    
        position:relative;
        height: 100%;
        
        background-size:cover;
       
  }
<<<<<<< Updated upstream
  h1{

    line-height: 6rem;
    padding-left: 170px;
  }
  p{
    line-height: 2rem;
  }
  h2{
    line-height: 4rem;
    padding-left: 170px;
  }
  ul{
    line-height: 2rem;
    padding-left: 170px;
  }
=======

h1{

  line-height: 6rem;
  padding-left: 170px;
}
p{
  line-height: 2rem;
}
h2{
  line-height: 4rem;
  padding-left: 170px;
}
ul{
  line-height: 2rem;
  padding-left: 170px;
}
  
>>>>>>> Stashed changes
#button{
  /* background-color: #00FFFF; 
border: none;
color: rgb(255, 255, 255);
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin-left: 150px;
box-shadow: #00FFFF ; */ 
font-size: 38px;
      padding: 12px 70px;
      border: none;
      
      background-color:#00FFFF ;
      color: black;
     
      
      cursor: pointer;
      box-shadow: 0 0 20px #00FFFF;
      animation: glowing 1s infinite;
      margin-left: 600px;
      
}
#myCheck{ 
  /* height: 50px;
  width: 50px;
  margin-left: 150px;
  background: transparent; */
  
     
      width: 25px;
      height: 25px;
   
      margin-left: 160px;
      padding-bottom: 40px;
      
      
}
      /* #myCheck + label {
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 2px solid white;
        position: relative;
        cursor: pointer; */
      

span{
  margin-left: 2px;
} 

